@charset "UTF-8";
/* Colores */
/*Fuentes*/
/* Título Estándar */
.titulo_Predet, .title__galeria {
  word-spacing: 7px;
  font-size: 20px;
  font-weight: lighter;
  text-decoration-line: none;
  font-family: "Courier New", Courier, monospace;
}

/* Medida Estándar img */
.bodyStyle {
  background: radial-gradient(#730055), #1e001e;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: blanchedalmond;
}

/* NAV-BAR */
.displayH {
  background-color: #2d2d2d;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 999;
  overflow: auto;
}

#displayNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  font-family: "Courier New", Courier, monospace;
}

.tamanioDivNav {
  width: auto;
  height: auto;
  justify-content: space-evenly;
}

.textNav {
  text-decoration: none;
  color: blanchedalmond;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 10px;
}

.textNav:hover {
  text-decoration: underline;
  color: pink;
}

/*CARRUSEL*/
.setImg {
  height: 350px;
  width: 400px;
}

/* TÍTULOS PERSONALIZADOS */
.titleStyle {
  word-spacing: 7px;
  font-size: 20px;
  font-weight: lighter;
  text-decoration-line: none;
}

.title__style__logo, .title__style__ar, .title_N3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  word-spacing: 0px;
  font-size: 40px;
}

.title__style__ar, .title_N3 {
  font-weight: 500;
  font-size: 30px;
}

.title_N3 {
  font-size: 30px;
  margin-left: 115px;
}

.title_Box {
  height: 40px;
  width: 200px;
  background-color: #1e001e;
}

/* posicionamiento de los "div-h2" */
.margin_1 {
  margin-left: 100px;
}

.margin_2 {
  margin-right: 70px;
}

/*ARTICLE*/
.article_Header {
  text-align: center;
  letter-spacing: 20px;
  color: blanchedalmond;
  word-spacing: 12px;
  text-decoration: none;
  margin: 20px 30px 10px 40px;
  font-weight: 200;
}

.article_Div {
  width: 70px;
  height: 30px;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.articleA {
  text-align: center;
  word-spacing: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.sectionDivSet {
  display: flex;
  justify-content: space-evenly;
}

section h2 {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 10px;
  word-spacing: 2px;
  letter-spacing: 5px;
}

.modAli1 {
  margin-right: 75px;
}

.modAli2 {
  margin-left: 75px;
}

/* CONFIG. IMG DE MODELOS */
.imgSet {
  height: 250px;
  width: 250px;
  border-radius: 5px;
}

/* ESTILOS DE ARTÍCULOS/TÍTULOS */
.textBg {
  background-color: #2d2d2d;
  text-align: center;
  word-spacing: 5px;
}

.fondoVioleta {
  background-color: #1e001e;
}

.italic {
  font-style: italic;
  text-decoration: none;
  color: blanchedalmond;
}

.italic:hover {
  text-decoration: underline;
  color: pink;
}

/* Colores */
/*Fuentes*/
/* Título Estándar */
.titulo_Predet, .title__galeria {
  word-spacing: 7px;
  font-size: 20px;
  font-weight: lighter;
  text-decoration-line: none;
  font-family: "Courier New", Courier, monospace;
}

/* Medida Estándar img */
/* estilos de títulos */
.titleStyle {
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 12px;
  color: blanchedalmond;
  text-decoration: none;
}

.title__galeria {
  margin: 20px 0px 20px 10px;
}

.mod__div__h2 {
  height: 20px;
  width: auto;
  color: #2d2d2d;
}

#footerStyle {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  text-decoration: none;
  margin-top: 140px;
}
/*# sourceMappingURL=estilosMain.css.map */