/*INDEX STYLE*/
.bodyStyle{
    background: radial-gradient(rgb(115, 0, 85),rgb(30, 0, 30));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blanchedalmond;
}
/*NAV-HEADER*/
.box_Logo{
    width: auto;
    height: auto;
    display: flex;
    justify-items: end;
    align-items: center;
}
#logo{
    height: 45px;
    width: 45px;
    border-radius: 25px;
}
.titleStyle{
    word-spacing: 7px;
    font-size: 20px;
    font-weight: lighter;
    text-decoration-line: none;
}

.display_H{
    background-color: rgb(45, 45, 45);
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: sticky;
    top:0;
    z-index:999;
}/* 
div H2{
    margin-right: 70px;
} */
#display_Nav{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 35px;
}
.tamanioDivNav{
    width: auto;
    height: auto;
    justify-content: space-evenly;
}

/*CARRUSEL*/
.set_Img{        
    height: 450px;
    width: 400px;
    
}
/*ARTICLE*/
.article_Header{
    text-align: center;
    letter-spacing: 20px;
    color:blanchedalmond;
    word-spacing: 12px;
    text-decoration: none;
    margin: 20px 30px 10px 40px;
    font-weight: 200;
    }
.article_Div{
    width: 70px;
    height: 30px;
    background-color: rgb(45, 45, 45);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.articleA{
    text-align: center;
    word-spacing: 5px;
    font-size: 16px;
    margin-top: 10px;
}
.sectionDivSet{
    display: flex;
    justify-content: space-evenly;
}
.modAli1{
    margin-right: 75px;
}
.modAli2{
    margin-left: 75px;
}
/*footer*/
#footerStyle{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    text-decoration: none;
    margin-top: 140px;
}
/*Galeria Style*/
.titleStyle{
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 12px;
    color: blanchedalmond;
    text-decoration: none;
}
.clasePadre{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.imageneStyle{
    width: 250px;
    height: 250px;
    margin: 5px;
    padding: 15px;
    }
.imgMove:hover{
    transform:translateY(-10px);
    transition:1s
}
.itemSy{
    list-style-type:square
}
.hxPosition{
    margin-left: 20px;
}

.footDeco{
    text-decoration:none;
    color: blanchedalmond;
}
.footDeco:hover{
    text-decoration:underline;
    color: pink;
}
/*Ofertas Style*/
.ofertasDisplay {
    display: grid;
    grid-template-areas:
        "titulo titulo titulo"
        "producto1 producto2 producto3";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.ofertasDisplay>div {
    border: 2px solid black;
}

.titulo {
    grid-area: titulo;
}

.producto1 {
    grid-area: producto1;

}

.producto2 {
    grid-area: producto2;
}

.producto3 {
    grid-area: producto3;
}
