@import '../variables/vars';

.title__galeria{
    margin: 20px 0px 20px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.mod__div__h2{
    height: 20px;
    width: auto;
    color: $gris;
}