@import '../variables/vars';

.bodyStyle{
    background: radial-gradient(rgb(115, 0, 85),rgb(30, 0, 30));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $blancoLetra ;
}
/* Títulos Personalizados */
.title__style__logo{
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 0px;
    font-size: 40px
}
.title__style__ar{
    @extend .title__style__logo; 
    font-weight: 500;
    font-size: 30px
}
.title_N3{
    @extend .title__style__ar;
    font-size: 30px;
    margin-left: 115px;
}
.title_Box{
    height: 40px;
    width: 200px;
    background-color: $violetaOscuro
}
/* config. imagen */
.imgSet{
    @include imgS (250px,250px,5px);
}
/* Estilos de articulos/titulos */
.textBg{
    background-color: $gris;
    text-align: center;
    word-spacing: 5px;
}
.fondoVioleta{
    background-color: $violetaOscuro;
}
.italic{
    font-style: $italica;
    text-decoration: none;
    color: $blancoLetra;
}
.italic:hover{
    text-decoration: underline;
    color: $rosaLink;
}