@import '../variables/vars';



.bodyStyle{
    background: radial-gradient(rgb(115, 0, 85),rgb(30, 0, 30));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $blancoLetra ;
}

h1{
    color: red;
}