@import '../variables/vars';

/* SECCIÓN OFERTAS */

/* Título */
.align_Box_Of{
    @extend .align_Box
}

.box_Title_Of{
    font-size: 25px;
    @extend .box_Title_Gal
}

.title_Of{
    font-family: $fuente_2;
    @extend .title_Gal;
    word-spacing: 5px;
    letter-spacing: 8px;
}
/* Tarjeta y clases de imgs */
.tarjeta_Img_Doble{
    height: 450px;
    width: 750px;
    background-color: $violetaOscuro;
    border-radius: 5px;
    transform: translateX(250px);
}
/* Animaciones */
@keyframes efecto_color_2{
    0%{border-color: $blancoLetra;border-style: solid;}
    20%{border-color: $rosaLink;border-style: solid;}
    40%{border-color:$rosaLink;border-style: solid;}
    60%{border-color: $violetaClaro_2;border-style: solid;}
    80%{border-color: $violetaClaro_2;border-style: solid;}
    100%{border-color:$rosaLink;border-style: solid;}
}
.efecto_Color_2{
    @extend .efecto_Color;
    border-style: solid;
    animation-duration: 4s;
}

.img_Move_2a{
    transition: transform 2s;
}
.img_Move_2a:hover{
    transform: translateX(35px);
}
.img_Move_2b{
    transition: transform 2s;
}
.img_Move_2b:hover{
    transform: translateX(-35px);
}
/* posicion de elementos */
.align_Modelos{
    display: flex;
    justify-content: space-evenly;
}
.align_Mas{
    padding-top:85px;
}
.clase_Mas{
    font-size: 60px;
    font-family: $fuente_3;
    color: $violetaClaro;
}
.box_Display{
    display: flex;
    padding-top: 10px;
}
.sd_Box{
    transform: translateX(80px);
    background-color: $violetaClaro;
    height: 35px;
    border-radius: 3px;
}
.lf_Box{
    transform: translateX(320px);
    background-color: $violetaClaro;
    border-radius: 3px;
    height: 35px;
}
.titulo_Style{
    font-size: 25px;
    font-family: $fuente_2;
    font-weight: 400;
    padding-right: 15px;
}